.icon-dashboard{
    background-image: url(../../assets/dashboardx.svg);
}
.icon-widget{
    background-image: url(../../assets/widget.png);
}
.icon-file{
    background-image: url(../../assets/folder-regular.svg);
}
.icon-bars{
    background-image: url(../../assets/bars-solid.svg);
}
.icon-mail{
    background-image: url(../../assets/envelope.svg);
}
.icon-bell{
    background-image: url(../../assets/bell-solid.svg);
}
.icon-flag{
    background-image: url(../../assets/flag-regular.svg);
}
.icon-setting{
    background-image: url(../../assets/setting.svg);
}